<div ng-cloak class="well">
    <div class="row">
        <div class="col-md-4">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1 translate="errors.title">Error Page!</h1>

            <div ng-switch="authenticated" ng-show="errorMessage">
                <div class="alert alert-success" ng-switch-when="true"
                     translate="{{errorMessage}}" translate-values="{username: '{{account.login}}'}">
                    You are logged in as user "Admin".
                </div>
            </div>
        </div>
    </div>
</div>
