<div class="well">

    <h2>
        Ordered Items
    </h2>

    <div class="table-responsive">
        <table st-table="orders" class="table table-striped">
            <thead>
            <tr>
                <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
            <tr>
                <th st-sort="id">#</th>
                <th st-sort="vendor">Vendor</th>
                <th st-sort="state">State</th>
                <th st-sort="eta" st-sort-default="reverse">ETA</th>
            </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in orders" ng-class="{'no-stock': row.quantity == 0}">
                    <td>{{row.id}}</td>
                    <td>{{row.vendor.name}}</td>
                    <td>{{row.state}}</td>
                    <td am-time-ago="{{row.eta}}"></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
