<div class="well">

    <h2>Items
        <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#saveItemModal" ng-click="clear()">
            <span class="glyphicon glyphicon-flash"></span> Create a new Item
        </button>
    </h2>


    <div class="modal fade" id="saveItemModal" tabindex="-1" role="dialog" aria-labelledby="myItemLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myItemLabel">Create or edit a Item</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="item.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="item.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control"
                                   ng-model="item.description">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control"
                                   ng-model="item.quantity">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" class="form-control"
                                   ng-model="item.category">
                        </div>
                        <div class="form-group">
                            <label>Cost</label>
                            <input type="text" class="form-control"
                                   ng-model="item.cost">
                        </div>

                        <div class="form-group">
                            <label>vendor</label>
                            <select class="form-control" ng-model="item.vendor.id" ng-options="vendor.id as vendor.name for vendor in vendors">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table st-table="items" class="table table-striped">
            <thead>
            <tr>
                <th colspan="7"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
            </tr>
            <tr>
                <th st-sort="id" st-sort-default>#</th>
                <th st-sort="name">Name</th>
                <th st-sort="quantity">Quantity</th>
                <th st-sort="category">Category</th>
                <th st-sort="cost">Cost</th>
                <th st-sort="vendor">Vendor</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in items" ng-class="{'no-stock': row.quantity == 0}">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.quantity}}</td>
                <td>{{row.category}}</td>
                <td>{{row.cost | currency:'R'}}</td>
                <td>{{row.vendor.name}}</td>
                <td>
                    <button type="submit" ng-click="update(row.id)" class="btn btn-xs btn-primary">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit" ng-click="delete(row.id)" class="btn btn-xs btn-danger">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="7" class="text-center">
                        <div st-pagination="" st-items-by-page="10"></div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
