<div id="main" ng-cloak ng-show="isAuthorized(userRoles.customer)" class="height-100">
    <div class="row height-100">
        <div class="col-sm-9 height-100">
            <div class="row height-30">
                <div class="col-sm-12">
                    <div id="cslider" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#cslider" data-slide-to="0" class="active"></li>
                            <li data-target="#cslider" data-slide-to="1"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item step step1 active">
                                <div class="row">
                                    <div class="col-sm-3" ng-repeat="vendor in vendorsUnique() | orderBy: 'name'">
                                        <label class="btn btn-primary" ng-click="vendorsLocations(vendor.name);isCollapsed = !isCollapsed">
                                            <img ng-src="/app/rest/vendors/{{vendor.id}}/image" alt=""/>
                                            <div collapse="isCollapsed">
                                                    <div ng-repeat="store in vendorStores" ng-click="isCollapsed = !isCollapsed;step1(store)" class="btn btn-primary btn-xs btn-store">
                                                        {{store.location}}
                                                    </div>
                                            </div>
                                        </label>

                                    </div>
                                </div>
                            </div>
                            <div class="item step step2">
                                <div class="selected-vendor row">
                                    <div class="col-sm-3">
                                        <label class="btn btn-primary" style="opacity: 1" ng-click="goToStep(0)">
                                            <img ng-src="/app/rest/vendors/{{order.vendor.id}}/image" alt=""/>
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="btn btn-primary forward-arrow">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="btn btn-primary" ng-click="step2('coffee')">
                                            <img src="/images/category/coffee-small.png" alt=""/>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="btn btn-primary" ng-click="step2('food')">
                                            <img src="/images/category/food-small.png" alt=""/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="item step step3">
                                <div class="selected-vendor row">
                                    <div class="col-sm-3">
                                        <label class="btn btn-primary" style="opacity: 1" ng-click="goToStep(0)">
                                            <img ng-src="/app/rest/vendors/{{order.vendor.id}}/image" alt=""/>
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="btn btn-primary forward-arrow">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </label>
                                    </div>
                                    <div class="col-sm-3">
                                        <label class="btn btn-primary" style="opacity: 1" ng-click="goToStep(1)">
                                            <img ng-src="/images/category/{{selectedCategory}}-small.png" alt=""/>
                                        </label>
                                    </div>
                                    <div class="col-sm-2">
                                        <label class="btn btn-primary forward-arrow">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#cslider" role="button" ng-hide="step==1">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row height-70">
                <div class="col-sm-11 col-sm-offset-1 height-100 step4">
                    <div style="position: absolute; bottom: 140px;">
                        <carousel interval="myInterval">
                            <slide ng-repeat="item in items" active="slide.active" style="width:500px">
                                <h2 style="color: white;">{{item.name}} - <span class="btn btn-primary btn-grow" ng-click="addToCart(item)">{{item.cost | currency: 'R'}}</span></h2>
                                <h3 style="color: #eee;">{{item.description}}</h3>

                                <img ng-src="/app/rest/items/{{item.id}}/image" alt="" ng-click="addToCart(item)">
                            </slide>
                        </carousel>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 well" style="padding: 3px;">
            <div class="panel panel-default" style="margin-bottom: 0px;">
                <div class="panel-heading">
                    <h3 class="panel-title">Brew Cart</h3>
                </div>
                <div class="panel-body" ng-hide="order.orderItems.length === 0" style="padding: 5px;">
                    <table class="table table-condensed table-hover">
                        <thead>
                            <tr>
                                <th style="width: 35px;">Qty</th>
                                <th>Name</th>
                                <th>Cost</th>
                                <th style="width: 35px;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in order.orderItems">
                                <td>{{item.quantity}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.total | currency:'R'}}</td>
                                <td>
                                    <button type="submit" ng-click="removeFromCart(item)" class="btn btn-xs btn-danger">
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div style="text-align: center;">
                    <button type="submit" ng-click="placeOrder(account)" class="btn btn-primary btn-sm" style="width: 100%;margin-bottom: 6px;font-size: 18px">
                        <span class="glyphicon glyphicon-shopping-cart"> Checkout</span>
                    </button>
                    </div>
                </div>
                <div class="panel-body" ng-show="order.orderItems.length === 0" style="text-align:center; opacity: 0.8">
                   <strong>No items yet</strong>
                </div>
            </div>
        </div>
    </div>

</div>


<div id="vendor" ng-cloak ng-show="isAuthorized(userRoles.vendor)" class="well">
    <div class="bs-example">
        <div class="container" id="content">
            <div class="row">
                <div class="col-lg-11"><h1>{{vendor.name}} - {{vendor.location}}</h1></div>
                <div class="col-lg-1">
                    <a ng-click="toggleFullScreen($root)">
                        <span class="glyphicon glyphicon-fullscreen">
                        </span>
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Order</th>
                <th>Customer</th>
                <th>State</th>
                <th>ETA</th>
            </tr>
            </thead>
            <tbody>
            <tr class="bg-green4" ng-repeat="order in orders.collected | orderBy:'eta':'desc'" ng-click="changeState(order.id, 'collected', $event)">
                <td >{{order.id}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>
                <td>{{order.state}}</td>
                <td am-time-ago="order.eta"></td>
            </tr>
            <tr class="bg-green3 bg-green3-flash" ng-repeat="order in orders.ready | orderBy:'eta':'desc'" ng-click="changeState(order.id, 'ready', $event)">
                <td >{{order.id}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>
                <td>{{order.state}}</td>
                <td am-time-ago="order.eta"></td>
            </tr>
            <tr class="bg-green2" ng-repeat="order in orders.preparing | orderBy:'eta':'desc'" ng-click="changeState(order.id, 'preparing', $event)">
                <td >{{order.id}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>
                <td>{{order.state}}</td>
                <td am-time-ago="order.eta"></td>
            </tr>
            <tr class="bg-green1" ng-repeat="order in orders.inqueue | orderBy:'eta':'desc'" ng-click="changeState(order.id, 'inqueue', $event)">
                <td >{{order.id}}</td>
                <td>{{order.user.firstName}} {{order.user.lastName}}</td>
                <td>{{order.state}}</td>
                <td am-time-ago="order.eta"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>