<div>

    <h2>Orders</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOrderModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Order
    </button>
    <div class="modal fade" id="saveOrderModal" tabindex="-1" role="dialog" aria-labelledby="myOrderLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOrderLabel">Create or edit a Order</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="order.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>State</label>
                            <input type="text" class="form-control"
                                   ng-model="order.state">
                        </div>
                        <div class="form-group">
                            <label>Ordered</label>
                            <input type="datetime-local" class="form-control"
                                   ng-model="order.ordered">
                        </div>

                        <div class="form-group">
                            <label>vendor</label>
                            <select class="form-control" ng-model="order.vendor.id" ng-options="vendor.id as vendor.name for vendor in vendors">
                            </select>
                        </div>
                        <div class="form-group">
                            <label>user</label>
                            <select class="form-control" ng-model="order.user.email" ng-options="user.email as user.firstName for user in users | filter:{email: '!!'}">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>State</th>
                    <th>Ordered</th>
                    <th>vendor</th>
                    <th>user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="order in orders">
                    <td>{{order.id}}</td>
                    <td>{{order.state}}</td>
                    <td>{{order.ordered}}</td>
                    <td>{{order.vendor.name}}</td>
                    <td>{{order.user.firstName}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(order.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(order.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
