<div>

    <h2>OrderItems</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveOrderItemModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new OrderItem
    </button>
    <div class="modal fade" id="saveOrderItemModal" tabindex="-1" role="dialog" aria-labelledby="myOrderItemLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myOrderItemLabel">Create or edit a OrderItem</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="orderItem.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="orderItem.name">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control"
                                   ng-model="orderItem.description">
                        </div>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="number" class="form-control"
                                   ng-model="orderItem.quantity">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" class="form-control"
                                   ng-model="orderItem.category">
                        </div>
                        <div class="form-group">
                            <label>Cost</label>
                            <input type="text" class="form-control"
                                   ng-model="orderItem.cost">
                        </div>

                        <div class="form-group">
                            <label>order</label>
                            <select class="form-control" ng-model="orderItem.order.id" ng-options="order.id as order.id for order in orders">
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Cost</th>
                    <th>order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="orderItem in orderItems">
                    <td>{{orderItem.id}}</td>
                    <td>{{orderItem.name}}</td>
                    <td>{{orderItem.description}}</td>
                    <td>{{orderItem.quantity}}</td>
                    <td>{{orderItem.category}}</td>
                    <td>{{orderItem.cost}}</td>
                    <td>{{orderItem.order.id}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(orderItem.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(orderItem.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
