<div class="well">

    <h2 translate="sessions.title" translate-values="{username: '{{account.login}}'}">Active sessions for [<b>{{account.login}}</b>]</h2>

    <div class="alert alert-success" ng-show="success" translate="sessions.messages.success">
        <strong>Session invalidated!</strong>
    </div>
    <div class="alert alert-danger" ng-show="error" translate="sessions.messages.error">
        <strong>An error has occurred!</strong> The session could not be invalidated.
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="sessions.table.ipaddress">IP Address</th>
                    <th translate="sessions.table.useragent">User agent</th>
                    <th translate="sessions.table.date">Date</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in sessions">
                    <td>{{session.ipAddress}}</td>
                    <td>{{session.userAgent}}</td>
                    <td>{{session.formattedTokenDate}}</td>
                    <td>
                        <button type="submit"
                                class="btn btn-primary"
                                ng-click="invalidate(session.series)" translate="sessions.table.button">
                                 Invalidate
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
