<div>

    <h2>Vendors</h2>

    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#saveVendorModal" ng-click="clear()">
        <span class="glyphicon glyphicon-flash"></span> Create a new Vendor
    </button>
    <div class="modal fade" id="saveVendorModal" tabindex="-1" role="dialog" aria-labelledby="myVendorLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="form" role="form" novalidate
                      class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
                      ng-submit="create()">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                                ng-click="clear()">&times;</button>
                        <h4 class="modal-title" id="myVendorLabel">Create or edit a Vendor</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>ID</label>
                            <input type="text" class="form-control" name="id"
                                   ng-model="vendor.id" readonly>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control"
                                   ng-model="vendor.name">
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <input type="text" class="form-control"
                                   ng-model="vendor.location">
                        </div>
                        <div class="form-group">
                            <label>Ibeacon</label>
                            <input type="text" class="form-control"
                                   ng-model="vendor.ibeacon">
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">
                            <span class="glyphicon glyphicon-save"></span> Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Ibeacon</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="vendor in vendors">
                    <td>{{vendor.id}}</td>
                    <td>{{vendor.name}}</td>
                    <td>{{vendor.location}}</td>
                    <td>{{vendor.ibeacon}}</td>
                    <td>
                        <button type="submit"
                                ng-click="update(vendor.id)"
                                class="btn btn-default">
                            <span class="glyphicon glyphicon-pencil"></span> Edit
                        </button>
                        <button type="submit"
                                ng-click="delete(vendor.id)"
                                class="btn btn-danger">
                            <span class="glyphicon glyphicon-remove-circle"></span> Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
