$icon-font-path: "../bower_components/bootstrap-sass/vendor/assets/fonts/bootstrap/";

@import './bootstrap-sass/vendor/assets/stylesheets/bootstrap.scss';

$c-brown: #5d432d;
$c-blue: #2d475d;

$c-green4: lighten(#558B57, 5%);
$c-green3: lighten(#83AF7F, 5%);
$c-green2: lighten(#B1D3A4, 5%);
$c-green1: lighten(#DFF7CA, 2%);

.bg-green1{
    background-color: transparentize($c-green1, 0.4);
}
.bg-green2{
    background-color:transparentize($c-green2, 0.4);
}
.bg-green3{
    background-color: transparentize($c-green3, 0.4);
}
.bg-green4{
    background-color: transparentize($c-green4, 0.4);
}

@-webkit-keyframes invalid {
    from { background-color: $c-green3; }
    to { background-color: transparentize($c-green3, 0.4); }
}
@-moz-keyframes invalid {
    from { background-color: $c-green3; }
    to { background-color: transparentize($c-green3, 0.4); }
}
@-o-keyframes invalid {
    from { background-color: $c-green3; }
    to { background-color: transparentize($c-green3, 0.4); }
}
@keyframes invalid {
    from { background-color: $c-green3; }
    to { background-color: transparentize($c-green3, 0.4); }
}
.bg-green3-flash {
    font-weight: 700;
    -webkit-animation: invalid 1s infinite; /* Safari 4+ */
    -moz-animation:    invalid 1s infinite; /* Fx 5+ */
    -o-animation:      invalid 1s infinite; /* Opera 12+ */
    animation:         invalid 1s infinite; /* IE 10+ */
}

.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

html{
    height: 100%;
}

.bg-full{
    height: 100%;
    background: url(/images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.jpg', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/background.jpg', sizingMethod='scale')";
}

body {
    height: 100%;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

}

.development {
    position: absolute;
    width: 149px;
    height: 149px;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1000;
    background-image: url("../images/development_ribbon.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.error {
    color: white;
    background-color: red;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* make sure browsers use the pointer cursor for anchors, even with no href */
a:hover {
  cursor: pointer;
}


/* start Password strength bar style */
ul#strength {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
/* end Password strength bar style */

.navbar{
    margin-bottom: l0px;

    .navbar-header{
        .navbar-brand{
            img{
                height: 31px;
                margin-top: -6px;
            }
        }
    }
}

.well{
    background-color: rgba(255, 255, 255, 0.7);
    padding-bottom: 50px;
}

#main{
    #cslider{
        .carousel-indicators{
            display: none;
        }
    }

    .step{
        .btn-group{
            z-index: 9999;
            width: 100%;
        }
        .btn{
            margin: 3%;
            border-radius: 15px;
            width: 100%;
            max-width: 150px;
            background-color: #E0E0E0;
            transition: all .4s ease-in-out;
            opacity: 0.5;

            &:hover{
                transform: scale(1.1);
                background-color: #f5f5f5;
                opacity: 0.8;
            }

            &.active{
                transform: scale(1.1);
                background-color: #f5f5f5;
                opacity: 1;
            }

            img{
                width: 100%;
            }

            &.forward-arrow{
                background: none;
                font-size: 70px;
                border: none;
                opacity: 1;

                &:hover{
                    transform: scale(1);
                    background: none;
                    opacity: 1;
                }
            }

            &.btn-store{
                background-color: #428bca;
                border-color: #357ebd;
                display: block;

                &:hover{
                    transform: scale(1.00);
                    background-color: #4eaaf4;
                    opacity: 1
                ;
                }
            }

        }



        &.step1, &.step2, &.step3{
            .carousel-inner {
                padding-top: 0px;

                .carousel-caption {
                    position: initial;
                }
            }
        }

    }

    .step4{
        .carousel-indicators{
            position: absolute;
            bottom: -37px;
        }

        .carousel-inner {
            .item {
                img {
                    margin: auto;
                    max-height: 250px;
                }
            }
        }

        .right, .left {
            &.carousel-control{
                background-image: none;
            }
        }

        .btn{
            padding: 10px;
            transition: all .4s ease-in-out;
            &.btn-grow{

            }

            &:hover{
                transform: scale(1.1);
            }
        }



    }

}

.table {
    tbody {
        tr {
            &.no-stock{
                td{
                    background-color: rgba(255, 105, 118, 0.68);
                }
            }
        }
    }
    tfoot{
        .pagination{
            margin: 10px 0 0;
        }
    }
}


.height-30{
    height: 30%;
}

.height-50{
    height: 50%;
}

.height-70{
    height: 70%;
}

.height-80{
    height: 80%;
}

.height-100{
    height: 100%;
}